<!-- views/users/sign_in.ejs -->

<div class="login-page">
    <div class="form">
        <form class="login-form" method="post" action="user/sign_in">
            <input type="text" name="userID" placeholder="userID" value="<%= user.id %>"/>
            <% if(errors.userID){ %>
                <span><%= errors.userID.message %></span>
            <% } %>
            <input type="password" name="password" placeholder="password"/>
            <% if(errors.password){ %>
                <span><%= errors.password.message %></span>
            <% } %>

            <% if(errors.login){ %>
                <span><%= errors.login %></span>
            <% } %>
            <button>login</button>
            <p class="message">Not registered? <a href="user/sign_up">Create an account</a></p>
        </form>
    </div>
</div>
