<!-- views/posts/post_write.ejs -->

<div class="post-page">
    <div class="form">
        <form action="/new" method="post">
            <div>
                <label for="title">제목</label>
                <input type="text" id="title" name="title" value="제목을 입력하세요" class="form-control">
            </div>
            
            <div>
                <label for="body">본문</label>
                <textarea id="body" name="body" rows="5" class="form-control"></textarea>
            </div>
    
            <div>
                <label for="location">위치</label>
                <select name = "location" form = "write-form">
                <option>북문</option>
                <option>정문</option>
                <option>쪽문</option>
                <option>서문</option>
                </select>
            </div>
    
            <div>
                <label>written by - noone </label>
                <input type="hidden" name="writtenBy" value = "noone">
            </div>
    
            <div>
                <a class="btn btn-primary" href="/">뒤로 가기</a>
                <button type="submit" class="btn btn-primary">제출</button>
            </div>
    
        </form>
    </div>
</div>
